@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

:root {
  --meltwater: #b9ebff;
  --bluesky: #73d7ff;
  --rainyday: #19bdff;
  --storm: #004764;
  --stormlight: hsl(197, 100%, 30%);
  --orangesun: hsl(13, 81%, 61%);
  --stormtrans: rgba(0, 71, 100, 0.4);
  --dayTimeGradient: radial-gradient(
    ellipse at 100% 0%,
    rgba(255, 255, 255, 1) 0%,
    var(--meltwater) 25%,
    var(--bluesky) 50%,
    var(--rainyday) 75%,
    var(--storm) 100%
  );
  /* --nightTimeGradient: linear-gradient(180deg, rgba(255, 183, 77, 1) 0%, rgba(255, 152, 0, 1) 50%, rgba(230, 81, 0, 1) 100%); */
  --nightTimeGradient: linear-gradient(to top right, #03001e, #7303c0, #ec38bc);
}
/* html {
  background: var(--dayTimeGradient);
  background-size: 150%;
  height: 100%;
} */

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}

#app-body {
  font-size: min(max(1rem, 4vw), 1.2rem);
  /* height: 100%; */
  background: var(--dayTimeGradient);
  background-size: 190%;
  height: 100vh;
  height: 100svh;
}
/* When the browser is greater than 836px tall */
/* @media screen and (min-height: 836px) {
  #app-body {
    height: 100svh;
  }
} */
.night {
  background:var(--nightTimeGradient)
}

h1 {
  font-size: min(max(2rem, 6vw), 2.4rem);
}

h2 {
  font-size: min(max(1.5rem, 5vw), 1.8rem);
}

h3 {
  font-size: min(max(1.2rem, 4vw), 1.5rem);
}

h4 {
  font-size: min(max(1rem, 3vw), 1.2rem);
}

h5 {
  font-size: min(max(0.9rem, 2.5vw), 1rem);
}

.weatherApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*style the user inputs*/
.userInputs {
  padding: 1rem;
  width: 50%;
  display: grid;
  grid-template-columns: 23% 54% 23%;
}
.userInputs input {
  padding: 0.5rem;
  border: 2px solid var(--storm);
  border-right: none;
  border-left: none;
}
.userInputs input:focus {
  outline: none;
  border: 2px solid black ;
}
.userInputs button {
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: var(--storm);
  transition: background-color 300ms ease;
}
.userInputs button:focus {
  outline: none;
  background-color: var(--stormlight);
}
.userInputs button:hover {
  background-color: var(--stormlight);
}
.userInputs button:first-of-type {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-right: none;
}
.userInputs button:last-of-type {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: none;
}
/*-----------------------------------*/
/*style current weather section*/
.currentWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainDisplay {
  display: grid;
  grid-template-columns: 35% 65%;
  place-items: center;
}
.mainDisplay > * {
  display: flex;
  align-items: center;
}
.currentTemp {
  justify-self: flex-end;
  margin-right:2rem;
  transform: scale(1.5);
}
.weatherGroup {
  display: flex;
}
.mainDisplay img {
  width: 135px;
  height: 135px;
}
.weatherGroupText {
  text-align: left;
}

/* When the browser is less than 639px wide */
@media screen and (max-width: 639px) {
  .userInputs {
    width: 90%;
    margin: 0.25rem;
  }
  .mainDisplay img {
    width: 90px;
    height:90px;
  }
  .currentTemp {
    transform: scale(1);
    margin-right: 1rem;
  }
  .weatherGroupText {
    transform: scale(.8) translateX(-20px);
  }
  .mainDisplay {
    grid-template-columns: 38% 62%;
  }
}
