.currentDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.currentDetails > * {
  background-color: var(--stormtrans);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.humidity {
  display: flex;
  flex-direction: column;
}

svg {
  transform: scale(1.4);
  margin-bottom: 0.5rem;
}

/* When the browser is less than 639px wide */
@media screen and (max-width: 639px) {
  .currentDetails {
    gap: 0.2rem;
    margin:.2rem;
  }
  .currentDetails > * {
    padding: .55rem;
  }
  svg {
    transform: scale(1);
    margin-bottom: 0.2rem;
  }
}
