.forecastWrapper {
  background-color: var(--stormtrans);
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.forecastGrid,
.forecastGridHeader {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

.forecastGridHeader {
  border-bottom: 1px solid var(--storm);
  margin: 1rem 0 0 0;
  height: 50px;
}

.forecastColumn {
  padding-left: 1.35rem;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.iconContainer {
  display: grid;
  grid-template-rows: 60% 40%;
  justify-items: center;
  position: relative;
  height: 50px;
}

.chanceOfRain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chanceOfRain svg {
  transform: translateY(4px);
}

.normalIcon {
  height: 3.5rem;
}

.shrunkIcon {
  height: 3rem;
  transform: translateY(-4px);
}

/* .lowColumn, .avgColumn, .highColumn {
 justify-self:  right;
} */

/* When the browser is less than 639px wide */
@media screen and (max-width: 639px) {
  .forecastWrapper {
    margin: 0 .2rem 2rem .2rem;
  }
  .forecastGridHeader {
    margin-top: .2rem;
  }
  .forecastColumn {
    padding-left: 1rem;
  }
/* 
  .forecastGridHeader > :first-child{
    padding-left: 0.5rem !important;
  } */
  .chanceOfRain svg {
    transform: translateY(1.75px);
  }

}