.forecastWrapper {
    background-color: var(--stormtrans);
    padding: 0 .5rem .5rem .5rem;
    border-radius: 1rem;
}

.forecastGrid,
.forecastGridHeader {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

.forecastGridHeader {
    border-bottom:1px solid var(--storm);
    margin: 1rem 0 0 0;
    height:60px;
    
}

.forecastColumn {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}

.iconContainer {
  display: grid;
  grid-template-rows: 60% 40%;
  justify-items: center;
  position: relative;
  height: 60px;
}

.chanceOfRain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.normalIcon {
  height: 3.5rem;
}

.shrunkIcon {
  height: 3rem;
  transform: translateY(-4px);
}
